footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 30px 30px;
    color: #a2b5cd;
    background: rgba(1, 1, 29, 0.993);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 23px;
    display: flex;
    gap: 10rem;
    width: 100%;
}

.top h2{
    font-size: 2rem;
}

footer .top .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

footer .links > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 13px;
    margin-bottom: 30px;
    transition:.3s ease all ;
    position: relative;
    padding: 5px;
}

footer .links > div h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: #d8d6d6;
}

footer .links > div a{
    text-decoration: none;
    color: inherit;
    font-size: 17px;
}

footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottom .legal {
    display: flex;
    gap: 10px;
    font-size: 15px;
}

.legal p{
    margin-right: 10px;
}

.bottom .socials{
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.bottom .socials > a {
    cursor: pointer;
}